<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web 1: Aula 9</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../Scripts/Posts.js"></script>
    <link rel="stylesheet" type="text/css" href="../Styles/Stilos.css"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">
</head>
<body>

    <h1 >Listagem</h1>
    <button class="expand-button" onclick="carregarTodosComentarios()">Carregar todos comentários</button>
    <div class="listagem" style="text-align: center;">
        <!--Aqui dentro desse div será inserido o resultado da chamada-->
    </div>
    <div id="loading">
        <div id="progressbar"></div>
        <p>Carregando...</p>
    </div>
</body>
</html>